# Ignore everything in .idea
.idea

*.mo
*.pyo
*.pyc
.sass-cache/
yarn-error.log
node_modules/
venv/
.cache/

.data*/

tonis_piip_org/django.env
tonis_piip_org/settings/local.py
tonis_piip_org/settings/local_test.py
tonis_piip_org/db.sqlite3
tonis_piip_org/assets/
tonis_piip_org/webapp/build/
tonis_piip_org/webapp/webpack-stats.json

tonis_piip_org/.cache
tonis_piip_org/.pytest_cache
tonis_piip_org/.coverage
tonis_piip_org/coverage
tonis_piip_org/cover/

tonis_piip_org/docs/_build
